<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100, 300, 400, 700|Julius+Sans+One" rel="stylesheet">
    <title>myBlendology Blend</title>

<style>
body {
    padding: 0px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    font-size: 13px;
<<<<<<< HEAD
    background-color: #f9f4f8;
=======
    background-color: #f9f4f8af;
>>>>>>> 74b18c1365b99a30302c04051367577a28bed597
    height: 100%;
    color: rgb(63, 63, 97);
} 
.oilName {
    color: rgb(105, 121, 67);
    font-size: 14px;
    text-decoration: none;
} 
h4 {
    font-family: "Josefin Sans", sans-serif;
}
</style>
</head>

<body>
<img src="http://www.myblendology.com/img/logo.png" height="60" />
<h3>Hey {{recName}}!</h3>
<h3>{{userName}} has sent you the recipe for their custom {{blendName}} blend.</h3>
<h3>This blend is based off of a {{oils.mood}} mood and is comprised of:</h3>

<h4>* 5 drops of<span class="oilName"> {{oils.base}}</span> essential oil.</h4>
<h4>* 4 drops of<span class="oilName"> {{oils.middle}}</span> essential oil.</h4>
<h4>* 3 drops of<span class="oilName"> {{oils.top}}</span> essential oil.</h4>

<h3>Combine these oils with the filtered water in your aromatherapy diffuser, and enjoy!</h3>

<h4 class="oilName">Want to create your own unique blend? Check out <a href="http://www.myblendology.com">myBlendology</a> today!</h4>

</body>
</html>
