<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>myBlendology Blend</title>
</head>
<body>

<h2>Hey {{recName}}!</h2>
<h3>{{userName}} has sent you their {{blendName}} blend.</h3>

<h3>This blend is based off of the {{oils.mood}} and is comprised of:</h3>

<h4>5 drops of {{oils.base}}</h4>
<h4>4 drops of {{oils.middle}}</h4>
<h4>3 drops of {{oils.top}}</h4>

</h3>Want to make your own blend? Check out myBlendology today!</h3>

</body>
</html>
